<div class="footer mt15">
    <div class="container">
        <div class="footer-bg">
            <p class="links">
                <span style="color:"gray"">©2013 叁年壹班</span>
                <span>Powered by 3n1b.com</span>
            </p>

            <p>
                <a href="http://www.3n1b.com/t/1" target="_self">关于</a>
                -
                <a href="/license" target="_self">服务条款</a>
                -
                <a href="/feedback" target="_self">意见反馈</a>
                -
                <a href="/guide" target="_self">用户指南</a>
            </p>
            <p class="fade-color">❤ Inspired by f2e.im and v2ex.com.</p>

            <p class="fade-color">
                <span># version 0.1.0-dev</span>
            </p>
        </div>
    </div>
</div>