{% extends 'snippet/layout.html' %}

{% block main %}
<div class="topics container-box college-topics">
    <div class="ui-header">
        <a class="btn btn-small fr" type="button" href="/t/create/?c={{college.id}}&n={{ node.slug }}">发起新话题</a>
        <span class="bread-nav"><a href="/">叁年壹班</a> › {{ college.name }}</span>
    </div>

    <div class="ui-content">
        {% for topic in topics.list %}
        <div class="topic-item">
            <a href="/u/{{ topic.author_username }}">
                <img src="/static/avatar/m_{{ topic.author_avatar or 'default.png' }}" alt="" class="avatar" />
            </a>
            <div class="main">
                <h3 class="title">
                    <a href="/t/{{ topic.id }}#reply{{ topic.reply_count or 0 }}">{{ topic.title }}</a>
                </h3>
                <div class="meta">
                    <span class="collegename">
                        <a href="/college/{{ topic.college_id }}">{{ topic.college_name }}</a>
                    </span>
                    •
                    <span class="node">
                        <a href="/node/{{ topic.node_slug }}">{{ topic.node_name }}</a>
                    </span>
                    •
                    <span class="username">
                        <a href="/u/{{ topic.author_username or topic.author_uid }}">{{ topic.author_username }}</a>
                    </span>
                    • 
                            {% if topic.last_replied_time %}
                    <span class="last-touched">{{ topic.last_touched|pretty_date }}</span>
                    •
                    <span class="last-reply-username">
                        最后回复来自
                        <a href="/u/{{ topic.last_replied_username or topic.last_replied_uid }}"> <strong>{{ topic.last_replied_username }}</strong>
                        </a>
                    </span>
                    {% else %}
                    <span class="last-touched">{{ topic.last_touched|pretty_date }}</span>
                    {% endif %}
                </div>
            </div>
            {% if topic.reply_count %}
            <div class="count">
                <a href="/t/{{ topic.id }}#reply{{ topic.reply_count or 0 }}">{{ topic.reply_count or 0 }}</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}

            {% if topics.page.total == 0 %}
        <div class="pl10 pr10">
            <div class="alert mt20">该学校下暂时还没有话题，发出您的讨论吧。</div>
        </div>
        {% endif %}
    </div>

    <div class="ui-footer">
        <div class="pagination">{{ topics.page|pagination(request.uri) }}</div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
    {% if current_user %}
<div class="usercard container-box">
    <div class="ui-header">
        <a href="/u/{{ user_info.username }}">
            <img src="/static/avatar/m_{{ user_info.avatar or 'default.png' }}?t={{ gen_random() }}" alt="" class="avatar" />
        </a>
        <div class="username">{{ user_info.username }}</div>
        <div class="collegename">{{ user_info.collegename }}</div>
        <div class="website">
            <a href="{{ user_info.website or '' }}">{{ user_info.website or '' }}</a>
        </div>
    </div>
    <div class="ui-content">
        <div class="status status-topic"> <strong><a href="/u/{{ user_info.username }}/topics">{{ user_info.counter.topics }}</a></strong> 
            话题
        </div>
        <div class="status status-reply">
            <strong><a href="/u/{{ user_info.username }}/replies">{{ user_info.counter.replies }}</a></strong> 
            回复
        </div>
        <div class="status status-favorite">
            <strong>
                <a href="/u/{{ user_info.username }}/favorites">{{ user_info.counter.favorites }}</a>
            </strong>
            收藏
        </div>
        <div class="status status-reputation">
            <strong>{{ user_info.reputation or 0 }}</strong>
            声望
        </div>
    </div>
</div>
{% if user_info.counter.notifications %}
<div class="alert mt10 mb10">
    <span>
        <a href="/notifications">
            {{ user_info.nickname or user_info.username }}，您有{{ user_info.counter.notifications }}条未读提醒，去看看吧
        </a>
    </span>
</div>
{% endif %}
{% if user_info.counter.messages %}
<div class="alert alert-success mt10 mb10">
    <span>
        <a href="/messages" style="color: #468847;">
            {{ user_info.nickname or user_info.username }}，您有{{ user_info.counter.messages }}条私信提醒，去看看吧
        </a>
    </span>
</div>
{% endif %}
{% else %}
<div class="login-box container-box">
    <div class="ui-content tc">
        <a class="btn btn-small" type="button" href="/login">登录</a>
        <a class="btn btn-small" type="button" href="/register">注册</a>
        <a class="btn btn-small" type="button" href="/forgot">找回密码</a>
    </div>
</div>
{% endif %}
<div class="sidebox container-box mt10 ">
    <div class="ui-header">
        <span class="title" style="color: #009a61">这是什么网站？<div class="fr"><a href="http://3n1b.com/t/1">了解更多</a></div></span>
    </div>
    <div class="ui-content">
        叁年壹班是一个全国性的校园BBS社区，我们打破了传统校园BBS的封闭性，注册之后您不但可以关注您自己学校的最新动态还可以探索全国所有高校的同学热议的话题。
        <p class="hor-tabs" style="margin-bottom: 0px">
            <a href="/register" style="color: #009a61">立即注册</a>
            <i></i>
            <a href="http://3n1b.com/t/2" style="color: #009a61">如何发帖</a>
        </p>
    </div>
</div>
<div class="sidebox container-box mt10 ">
    <div class="ui-header">
        <span class="title">最热小组<div class="fr"><a href="/nodes">all</a></div></span>
    </div>
    <div class="ui-content hot-nodes">
        {% for node in hot_nodes %}
        <a href="/node/{{ node.slug }}">{{ node.name }}</a>
        {% endfor %}
    </div>
</div>
<div class="sidebox container-box mt10 ">
    <div class="ui-header">
        <span class="title">热门学校<div class="fr"><a href="/colleges">all</a></div></span>
    </div>
    <div class="ui-content hot-nodes">
        {% for college in hot_colleges %}
        <a href="/college/{{ college.id }}">{{ college.name }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}