{% extends 'snippet/layout.html' %}

{% block title %}
    {{ topic.title }} - 叁年壹班
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/css/codehilite.css" />
{% endblock %}

{% block javascript %}
<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>
<script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript" src="/static/js/widget/emmet.min.js"></script>
<script type="text/javascript" src="/static/js/widget/jquery.textarea.min.js"></script>
<script type="text/javascript">
        jQuery(document).ready(function() {
            $('textarea.smart-code-support').tabby();
            emmet.require('textarea').setup({
                pretty_break: false, // enable formatted line breaks (when inserting // between opening and closing tag)
                use_tab: false       // expand abbreviations by Tab key
            });
        });
    </script>
<script type="text/javascript">
        jQuery(document).ready(function() {
            $('.J_topicVote').click(function(e) {
                var _node = $(this);
                var _errorMap = {
                    topic_not_exist: '话题不存在',
                    can_not_vote_your_topic: '不能喜欢自己的话题',
                    already_voted: '感谢已经表示过',
                };
                e.preventDefault();
                $.getJSON(_node.attr('href'), function(data) {
                    if(data.success) {
                        _node.html('<span class="f11 gray" style="text-shadow: 0px 1px 0px #fff;">感谢已表示</span>');
                    } else {
                        _node.html('<span>' + _errorMap[data.message] + '</span>');
                    }
                });
            });

            $('.J_topicFavorite').click(function(e) {
                var _node = $(this);
                var _errorMap = {
                    topic_not_exist: '话题不存在',
                    can_not_favorite_your_topic: '不能收藏自己的话题',
                    already_favorited: '之前已经收藏过了',
                };
                e.preventDefault();
                $.getJSON(_node.attr('href'), function(data) {
                    if(data.success) {
                        _node.html('<span class="f11 gray" style="text-shadow: 0px 1px 0px #fff;">收藏成功</span>');
                    } else {
                        _node.html('<span>' + _errorMap[data.message] + '</span>');
                    }
                });
            });

            $('.J_replyTo').click(function(e) {
                username = $(this).attr('data-username');
                replyContent = $('.J_replyContent');
                oldContent = replyContent.val();
                prefix = "@" + username + " ";
                newContent = '';
                if(oldContent.length > 0){
                    if (oldContent != prefix) {
                        newContent = oldContent + "\n" + prefix;
                    }
                } else {
                    newContent = prefix;
                }
                replyContent.focus();
                replyContent.val(newContent);
            });
        });
    </script>
{% endblock %}

{% block main %}
<div class="topic-detail container-box">
    <div class="ui-header">
        <a href="/u/{{ topic.author_username or topic.author_uid }}">
            <img src="/static/avatar/m_{{ topic.author_avatar or 'default.png' }}?t={{ gen_random() }}" alt="" class="avatar" />
        </a>
        <div class="main">
            <h3 class="title">{{ topic.title }}</h3>
            <div class="meta">
                <span class="collegename">
                    <a href="/college/{{ topic.college_id }}">{{ topic.college_name }}</a>
                </span>
                •
                <span class="node">
                    <a href="/node/{{ topic.node_slug }}">{{ topic.node_name }}</a>
                </span>
                •
                <span class="username">
                    <a href="/u/{{ topic.author_username or topic.author_uid }}">{{ topic.author_username }}</a>
                </span>
                • 
                    {% if topic.last_replied_time %}
                <span class="created-time">发表于 {{ topic.created|pretty_date }}</span>
                •
                <span class="last-reply-username">
                    最后回复来自
                    <a href="/u/{{ topic.last_replied_username or topic.last_replied_uid }}"> <strong>{{ topic.last_replied_username }}</strong>
                    </a>
                </span>
                •
                <span class="last-reply-time">{{ topic.last_replied_time|pretty_date }}</span>
                {% else %}
                <span class="created-time">发表于 {{ topic.created|pretty_date }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="ui-content">{{ topic.content|markdown|content_process }}</div>
    <div class="ui-footer">
        <a href="/favorite?topic_id={{ topic.id }}" class="J_topicFavorite">加入收藏</a>
        {#
        <a href="#" onclick="window.open('https://twitter.com/intent/tweet?hashtags={{ topic.node_slug }}&text={{ topic.title }}&url=http://{{ request.host }}{{ request.uri }}');">Tweet</a>
        #}
        <a href="#" onclick="window.open('http://service.weibo.com/share/share.php?url=http://{{ request.host }}{{ request.uri }}&title={叁年壹班}%20-%20{{ topic.title }}', '_blank', 'width=550, height=370');">新浪微博</a>
        <a href="/vote?topic_id={{ topic.id }}" class="J_topicVote">喜欢</a>
        {% if current_user and current_user.uid == topic.author_id %}
        <a href="/t/edit/{{ topic.id }}" class="fr">编辑话题</a>
        {% endif %}
        <span class="hits fr mr10">{{ topic.hits or 0 }} 次点击</span>
    </div>
</div>
{% if not replies.page.total == 0 %}
<div class="topic-reply container-box mt10">
    <div class="ui-header">
        <span>共收到{{ replies.page.total }}条回复</span>
    </div>
    <div class="ui-content">
        {% set floor = reply_num * (current_page - 1) %}
            {% for reply in replies.list %}
            {% set floor = floor + 1 %}
        <div class="reply-item">
            <a href="/u/{{ reply.author_username }}">
                <img src="/static/avatar/m_{{ reply.author_avatar or 'default.png' }}?t={{ gen_random() }}" alt="" class="avatar" />
            </a>
            <div class="main">
                <div class="meta">
                    <a href="/u/{{ reply.author_username }}" class="reply-username">
                        <span class="username">{{ reply.author_username }}</span>
                    </a>
                    <span class="collegename">
                        <a href="/college/{{ reply.author_collegeid }}">{{ reply.author_collegename }}</a>
                    </span>
                    <span class="time">{{ reply.created|pretty_date }}</span>
                    {% if current_user and current_user.uid == reply.author_id %}
                    <a href="/reply/edit/{{ reply.id }}">编辑回复</a>
                    {% endif %}
                    <span class="floor fr">#{{ floor }}</span>
                    <span class="reply-to fr J_replyTo" data-username="{{ reply.author_username }}">
                        <img src="/static/images/reply.png" alt="" />
                    </span>
                </div>
                <span class="content">{{ reply.content|markdown|reply_process }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="ui-footer">
        <div class="pagination pagination-mini">{{ replies.page|pagination(request.uri) }}</div>
    </div>
</div>
{% else %}
<div class="alert mt20">暂无回复，说出您的观点吧</div>
{% endif %}
<div class="topic-reply-create container-box mt10">
    {% if current_user %}
    <div class="ui-header">
        <span class="title">创建新的回复</span>
    </div>
    <div class="ui-content">
        <form class="mt10" action="" method="post">
            {{ errors|dump_errors }}
            <textarea rows="3" class="content mt5 smart-code-support J_replyContent" placeholder="回复内容" name="content"></textarea>
            <input name="tid" type="hidden" value="{{ topic.id }}" />
            <input type="submit" id="checkall" class="btn btn-small" value="立即回复">{{ xsrf_form_html() }}</form>
    </div>
    {% else %}
    <div class="ui-header">
        <span class="title">登录后即可参与回复</span>
    </div>
    <div class="ui-content">
        <a class="btn btn-small" type="button" href="/login">登录</a>
        <a class="btn btn-small" type="button" href="/register">注册</a>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block sidebar %}
    {% if current_user %}
<div class="usercard container-box">
    <div class="ui-header">
        <a href="/u/{{ user_info.username }}">
            <img src="/static/avatar/m_{{ user_info.avatar or 'default.png' }}?t={{ gen_random() }}" alt="" class="avatar" />
        </a>
        <div class="username">{{ user_info.username }}</div>
        <div class="collegename">{{ user_info.collegename }}</div>
        <div class="website">
            <a href="{{ user_info.website or '' }}">{{ user_info.website or '' }}</a>
        </div>
    </div>
    <div class="ui-content">
        <div class="status status-topic"> <strong><a href="/u/{{ user_info.username }}/topics">{{ user_info.counter.topics }}</a></strong> 
            话题
        </div>
        <div class="status status-reply">
            <strong><a href="/u/{{ user_info.username }}/replies">{{ user_info.counter.replies }}</a></strong> 
            回复
        </div>
        <div class="status status-favorite">
            <strong>
                <a href="/u/{{ user_info.username }}/favorites">{{ user_info.counter.favorites }}</a>
            </strong>
            收藏
        </div>
        <div class="status status-reputation">
            <strong>{{ user_info.reputation or 0 }}</strong>
            声望
        </div>
    </div>
</div>
{% if user_info.counter.notifications %}
<div class="alert mt10 mb10">
    <span>
        <a href="/notifications">
            {{ user_info.nickname or user_info.username }}，您有{{ user_info.counter.notifications }}条未读提醒，去看看吧
        </a>
    </span>
</div>
{% endif %}
{% if user_info.counter.messages %}
<div class="alert alert-success mt10 mb10">
    <span>
        <a href="/messages" style="color: #468847;">
            {{ user_info.nickname or user_info.username }}，您有{{ user_info.counter.messages }}条私信提醒，去看看吧
        </a>
    </span>
</div>
{% endif %}
{% else %}
<div class="login-box container-box">
    <div class="ui-content tc">
        <a class="btn btn-small" type="button" href="/login">登录</a>
        <a class="btn btn-small" type="button" href="/register">注册</a>
        <a class="btn btn-small" type="button" href="/forgot">找回密码</a>
    </div>
</div>
{% endif %}
<div class="sidebox container-box mt10 ">
    <div class="ui-header">
        <span class="title" style="color: #009a61">这是什么网站？<div class="fr"><a href="http://3n1b.com/t/1">了解更多</a></div></span>
    </div>
    <div class="ui-content">
        叁年壹班是一个全国性的校园BBS社区，我们打破了传统校园BBS的封闭性，注册之后您不但可以关注您自己学校的最新动态还可以探索全国所有高校的同学热议的话题。
        <p class="hor-tabs" style="margin-bottom: 0px">
            <a href="/register" style="color: #009a61">立即注册</a>
            <i></i>
            <a href="http://3n1b.com/t/2" style="color: #009a61">如何发帖</a>
        </p>
    </div>
</div>
<div class="sidebox container-box mt10 ">
    <div class="ui-header">
        <span class="title">最热小组<div class="fr"><a href="/nodes">all</a></div></span>
    </div>
    <div class="ui-content hot-nodes">
        {% for node in hot_nodes %}
        <a href="/node/{{ node.slug }}">{{ node.name }}</a>
        {% endfor %}
    </div>
</div>
<div class="sidebox container-box mt10 ">
    <div class="ui-header">
        <span class="title">热门学校<div class="fr"><a href="/colleges">all</a></div></span>
    </div>
    <div class="ui-content hot-nodes">
        {% for college in hot_colleges %}
        <a href="/college/{{ college.id }}">{{ college.name }}</a>
        {% endfor %}
    </div>
</div>
{#
<div class="sidebox container-box mt10">
    <div class="ui-header">
        <span class="title">格式规范</span>
    </div>
    <p>排版良好的文字会给大家舒服的感觉。以下格式是我们所支持的，您还可以<a href="http://equation85.github.com/blog/markdown-examples/" target="_blank">了解更多</a></p>
    <div class="ui-content">
         <ul>           
            <li>**粗体文本**</li>
            <li>[链接名称](http://...)</li>
            <li> `高亮文本`</li>       
            <li>换行行末加两空格</li>
            <li><a href="http://3n1b.com" target="_blank">如何添加图片...</a></li>
        </ul>
    </div>
</div>
#}
{% endblock %}