{% extends 'snippet/layout.html' %}

{% block javascript %}
<script type="text/javascript" src="/static/js/base/jquery.js"></script>
<script type="text/javascript" src="/static/js/widget/bootstrap-typeahead.js"></script>
{% endblock %}

{% block main %}
<div class="container-box">
    <form class="form-horizontal" action='' method="POST">
        <fieldset>
            <div id="legend" class="mb50">
                <legend class="">注册</legend>
            </div>
            {{ errors|dump_errors }}
            <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="username">用户名</label>
                <div class="controls">
                    <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                    <p class="help-block">英文，数字，中文或'_'均可，4-16位字符</p>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                    <p class="help-block">请输入您的E-mail，便于登录和找回密码</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">密码</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                    <p class="help-block">密码不少于6个字符</p>
                </div>
            </div>

{#
            <div class="control-group">
                <!-- Password -->
                <label class="control-label" for="password_confirm">密码（确认）</label>
                <div class="controls">
                    <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
                    <p class="help-block">请再次输入密码</p>
                </div>
            </div>
#}

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">注册</button>
                </div>
            </div>
        </fieldset>
        {{ xsrf_form_html() }}
    </form>
</div>
{% endblock %}

{% block sidebar %}
<div class="intro container-box sidebox">
    <div class="ui-header">
        <span class="title">关于</span>
    </div>
    <div class="ui-content">
        <p>
            叁年壹班 是一个大学生交流社区。加入到社区中来，参与分享，学习，不断提高吧。
        </p>
    </div>
</div>
{% endblock %}