{% extends 'snippet/layout.html' %}

{% block javascript %}
<script type="text/javascript" src="/static/js/base/jquery.js"></script>
<script type="text/javascript" src="/static/js/widget/bootstrap-typeahead.js"></script>
{% endblock %}

{% block main %}
<div class="container-box">
    <form class="form-horizontal" action='' method="POST">
        <fieldset>
            <div id="legend" class="mb50">
                <legend class="">注册</legend>
            </div>
            {{ errors|dump_errors }}
            <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="username">用户名</label>
                <div class="controls">
                    <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                    <p class="help-block">英文，数字，中文或'_'均可，4-16位字符</p>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                    <p class="help-block">请输入您的E-mail，便于登录和找回密码</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">密码</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                    <p class="help-block">密码不少于6个字符</p>
                </div>
            </div>

{#
            <div class="control-group">
                <!-- Password -->
                <label class="control-label" for="password_confirm">密码（确认）</label>
                <div class="controls">
                    <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
                    <p class="help-block">请再次输入密码</p>
                </div>
            </div>
#}

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">注册</button>
                    <a href="/login" class="ml10 mr10 btn">直接登录</a>
                    <a href="/forgot" class="btn">忘记密码了</a>
                </div>
            </div>
        </fieldset>
        {{ xsrf_form_html() }}
    </form>
</div>
{% endblock %}

{% block sidebar %}
<div class="sidebox container-box mt10 ">
    <div class="ui-header">
        <span class="title" style="color: #009a61">这是什么网站？<div class="fr"><a href="http://3n1b.com/t/1">了解更多</a></div></span>
    </div>
    <div class="ui-content">
        叁年壹班是一个全国性的校园BBS社区，我们打破了传统校园BBS的封闭性，注册之后您不但可以关注您自己学校的最新动态还可以探索全国所有高校的同学热议的话题。
        <p class="hor-tabs" style="margin-bottom: 0px">
            <a href="/register" style="color: #009a61">立即注册</a>
            <i></i>
            <a href="http://3n1b.com/t/2" style="color: #009a61">如何发帖</a>
        </p>
    </div>
</div>
{% endblock %}